.header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    > div {
        display: flex;
        justify-content: center;
        gap: 2vw;
        padding: 2vh 0;

        > button {
            border: none;
            :hover {
                cursor: pointer;
            }
        }
    }
}

.light {
    background-color: #d1dadd;
    color: #0B0B45;
}

.dark {
    background-color: #0B0B45;
    color: #d1dadd;
}
