
// @media only screen and (max-width: 355px) {
//     .listItem {
//         width: 90vw;
//         margin-top: 4vh;
//     }
// }

.light {
    background-color: #d1dadd;
    color: #0B0B45;
}

.dark {
    background-color: #0B0B45;
    color: #d1dadd;
}
