html {
    background-color: #d1dadd;
}


.listPage {

    margin-top: 7vh;
    /* platz für fixed header */


    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    row-gap: 1vh;
    column-gap: 4vw;


    a {
        text-decoration: none;
    }


    .listItem {

        width: 44vw;

        margin-top: 7vh;
        /* Anpassen für Desktop bei MediaQ abstand nach oben bzw. zwischen Figuren*/

        cursor: pointer;


        img {
            width: 80%;
        }

        article {
            p {
                font-size: clamp(0.8rem, 4vw, 2.1rem);
                overflow-x: hidden;

            }
        }

    }

}


@media only screen and (max-width: 355px) {
    .listItem {
        width: 90vw;
        margin-top: 4vh;
    }

}

.divHeader {
    padding-top: 13.5vh;
    padding-left: 12vw;

    >button {
        background-color: #d1dadd;
        position: absolute;
        position: fixed;

        z-index: 3;

        border: none;


        >img {
            width: 24px;
            height: 20px;
        }
    }
}

.filterTypesOn {
    display: flex;
}

.filterTypesOff {
    display: none;
}

.checkBox {
    display: flex;
    flex-direction: column;

    >article:nth-of-type(1) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2vh 3vw;

        >img{
            width: 118px;
            height: 40px;

        }

        button {
            border: none;
            background-color: #d1dadd;

            img {
                width: 26px ;
                height: 26px;
                cursor: pointer;

            }
        }
    }

    article:nth-of-type(2) {
        text-align: center;

        img{
            width: 90px ;

        }

    }

    article:nth-of-type(3) {
  
        
        div{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;


            padding-top: 2vh;
    
        

    
            
            label{
           
                cursor: pointer;
                height: 35px;
                width: 120px;

                margin-top: 1.2vh;

                text-align: center;
                color: white;
                font-size: 1.2rem;
                font-weight: 900;
                padding-top: 1.3vh;


            }

            input {
                visibility: hidden;
                width: 0px;



            }
        }
    }

    
}